body
{
	margin:0;
	overflow-x:hidden
}

.browserupgrade
{
	margin:0;
	padding:5px 15px;
	background-color:#ff851b;
	color:#fff;
	text-align:center
}

.workspace
{
	min-height:394px;
	max-height:516px;
	min-width:250px;
	margin-bottom:20px
}

.workspace > img
{
	max-width:100%
}

.img-preview
{
	margin-right:10px;
	overflow:hidden;
	width:250px;
	height:394px;
	float:left
}

.img-preview > img
{
	max-width:100%
}

.docs-buttons > .btn,.docs-buttons > .btn-group,.docs-buttons > .form-control
{
	margin-right:5px;
	margin-bottom:10px
}

.docs-tooltip
{
	display:block;
	margin:-6px -12px;
	padding:6px 12px
}

.docs-tooltip > .icon
{
	margin:0 -3px;
	vertical-align:top
}

.tooltip-inner
{
	white-space:normal
}

.btn-upload .tooltip-inner,.btn-toggle .tooltip-inner
{
	white-space:nowrap
}

@media (max-width: 400px) {
	.btn-group-crop
	{
		margin-right:-15px!important
	}
	
	.btn-group-crop > .btn
	{
		padding-left:5px;
		padding-right:5px
	}
	
	.btn-group-crop .docs-tooltip
	{
		margin-left:-5px;
		margin-right:-5px;
		padding-left:5px;
		padding-right:5px
	}
}

.docs-cropped .modal-body > img,.docs-cropped .modal-body > canvas
{
	max-width:100%
}

.docs-diagram .modal-dialog
{
	max-width:352px
}

.docs-footer
{
	overflow:hidden;
	text-align:left;
	margin-bottom:30px
}

.heart
{
	position:relative;
	display:block;
	width:100%;
	height:30px;
	margin-top:20px;
	margin-bottom:20px;
	color:#ddd;
	font-size:18px;
	line-height:30px;
	text-align:center
}

.heart:hover
{
	color:#ff4136
}

.heart:before
{
	position:absolute;
	top:50%;
	right:0;
	left:0;
	display:block;
	height:0;
	border-top:1px solid #eee;
	content:" "
}

.heart:after
{
	position:relative;
	z-index:1;
	padding-left:8px;
	padding-right:8px;
	background-color:#fff;
	content:" "
}